<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(current_user) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
          <% if user_has_content(current_user) %>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
         <% else %>
         <small>
         <p> <%= current_user.name %> has not submitted any posts yet.</p>
         </small>
         <% end %>
         </div>
          <% if user_has_favorites(current_user) %>
          <div class="media">
          <h2 class="media-heading">List of Favorites</h2>
          <ul class "list-group">
            <% @user.favorites.each do |favorite| %>
            <li class="list-group-item">
            <div class="media">
            <%= image_tag avatar_url(favorite.user), class: 'media-object' %>
              <%= render partial: 'votes/voting', locals: { post: favorite.post } %>
                <div class="media-body">
                    <h4 class="media-heading">
                      <%= link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post) %>
                    </h4>
                  <small>
                    <%= favorite.post.comments.count %> comments <br>
                  </small>
                </div>
              </div>
              </li>
            <% end %>
            </ul>
            <% end %>
            </div>
     </div>
   </div>
 </div>
